body{
    font-family: 'Lato', sans-serif;
}

a{
    text-decoration: none;
    color: #ffffff;
}

a.reward{
    text-decoration: underline;
}

li{
    list-style-type: none;
}

.banner {
    background-image: url(../images/banner_image.png);
    background-color: white; 
    text-align: center;
    background-size: cover;
    background-position: center center;
    padding-top: 38.65vh; 
}

.ba-header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.ba-header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;   
}

.ba-navigation{
    display: flex; 
}

.menu_item{
    text-transform: uppercase;
    padding: 0 0 0 25px;
    font-size: 0.875rem;
    letter-spacing: 0.05em;
    font-weight: bold;
    text-shadow: 0px 0px 35px #000;
}

a:hover,
a:focus{
    color: #000;
}

.container{
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 15px;
}

h2{
    font-family: 'Times New Roman', serif;
    font-size: 1.875rem;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 0.05em;
    color: #ffffff;
    opacity: .7;
    margin: 0;
    text-shadow: 0px 0px 35px #000;
}

.banner_text_1{
    font-size: 6.25rem;
    font-weight: bold;
    color: #ffffff;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin: 0;
    text-shadow: 0px 0px 35px #000;
}

.banner_button{
    display: inline-block;
    font-size: 1.125rem;
    text-transform: uppercase;
    border: 2px solid #ffffff;
    height: 65px;
    line-height: 65px;
    padding: 0 75px; 
    font-weight: bold;
    transition: .3; 
    margin-top: 15px;
    margin-bottom: 0;
    letter-spacing: 0.025em;
}

.banner_button:hover,
.banner_button:focus{
    background-color:#ffffff; 
    color: #000;
}

.banner_text_2{
    font-size: 0.875rem;
    color: #ffffff;
    margin: 0;
    padding-top: 40px;
    padding-bottom: 240px;
    letter-spacing: 0.05em;
    opacity: .7;
    text-shadow: 0px 0px 35px #000;
}

/* start icons */

.icons{
    padding-top: 22.72vh;
    padding-bottom: 22.07vh;
}

.icons_all{
    display: flex;
    text-align: center;
    margin: 0;
}

.title{
    font-size: 1.125rem;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin: 8px 0 0 0;
}

.icon_line{
    margin: 0 0 8px 0;
}

.paragraph{
    font-size: 1rem;
    color: #000;
    letter-spacing: 0.05em;
    font-weight: lighter;
    line-height: 1.5;
    margin: 0;
}

/* end icons */

/* start intro */

.intro{
    background-color: #f7f7f7; /*как узнать цвет из макета?*/
}

.intro_main{
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.paragraph_main{
    padding-left: 115px;
    padding-top: 181px;
}

.paragraph2{
    font-size: 1rem;
    color: #000;
    letter-spacing: 0.05em;
    font-weight: lighter;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 32px;  
}

.intro_iphone{
    padding-top: 100px;
}

.paragraph_additional{
    display: flex;
    padding: 0;
}

.app{
    padding: 0 10px 0 0;
}

/* end intro */